body {
    font-family: 'Bai Jamjuree', 'Open Sans', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 50px
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

::-webkit-scrollbar-track
{
	background-color: transparent !important;
}

::-webkit-scrollbar
{
    width: 10px;
    border-radius: 8px;
	background-color: transparent !important;
}

::-webkit-scrollbar-thumb
{
    border-radius: 8px;
	background-color: #222;
}